#main_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-image: url(../images/chocolate_background.jpeg);
    justify-content: center;
    
}


.nav-link {
    
    /* font-weight: bolder; */
    padding: 5px;
    color: white;
}