#main_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-image: url(../images/hot_chocolate_smoke.gif);
    background-size: contain;
    justify-content: center;
    
}


.nav-link {
    
    /* font-weight: bolder; */
    padding: 5px;
    color: white;
}

tr,
th,
td {
    border: 1px solid black;
}


