#main_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-image: url(../images/dessert_1.jpeg);
    background-size: cover;
}

.main_content {
    
    
    border: 1px solid black;
}

#box1 {
    border: 1px solid black;
}


.nav-link {
    
    /* font-weight: bolder; */
    padding: 5px;
    color: white;
}



