#main_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    /* 1 image */

    background-image: url(../images/dessert_1.jpeg);
    background-size: cover;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif
}


.nav-link {

    /* font-weight: bolder; */
    padding: 5px;
    color: white;
}



img {
    border: 7px solid white;
    animation: pulse;
    animation-duration: 2s;

    transition-property: font-size;
    transition-duration: 2s;
}

h1 {
    font-size: 700%;
    font-weight: 900;
}



/* CSS Animation */
a button {
    margin-top: 5%;
    padding: 10px;
    width: 30%;
    border: none;
    background-color: white;
    font-size: 140%;
    font-weight: 900;

    transition-property: font-size;
    transition-duration: 1s;
}

a button:hover {
    font-size: 150%;

}

div>p {
    font-size: 120%;
    font-weight: 0;
}